body {
  /* background: url(https://empirestateplaza.ny.gov/sites/g/files/oee991/files/media/2020/01/nyc-building-the-8th-avenue-subway.jpg); */
  /* background: url(https://images.saatchiart.com/saatchi/672791/art/7557251/6625967-HSC00002-7.jpg); */
  background: url(https://i.pinimg.com/originals/57/c3/b1/57c3b1e75a27ab423bfd77396a6d301a.jpg);
  background-repeat: no-repeat;
  background-size: 1920px 1200px;
}
.Fiora {
  display: flex;
  align-items: center;
  background-color: #333333;
  color: #c0c0c0;
  display: flex;
  justify-content: space-around;
  height: 90px;
  padding: 10px;
  border: 25px;
}

.name {
  font-size: 35px;
  justify-content: center;
  border: 25px;
}

.portfolio-name {
  font-family: cursive;
  font-size: 35px;
  justify-content: center;
  border: 25px;
}
/* .App {
  display: flex;
  align-items: center;
} */
.display-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-direction: wrap;
  gap: 1.5rem;
  /* background-color: rgb(180, 176, 176);
  background-size: 50px; */
}
.tile {
  display: flex;
  flex-direction: wrap;
  text-align: center;
  align-items: center;
  color: white;
  font-family: Helvetica;
  font-size: 25px;
  text-shadow: 40mm;
  text-decoration: highlightme;
  /* background-color: rgb(97, 96, 96);
  opacity: 60%; */
  padding: 45px;
  border-radius: 5px;
  min-width: 700px;
  max-width: 800px;
}
.linked-in {
  color: white;
}
.container {
  background-color: rgb(97, 96, 96);
  opacity: 80%;
}
a {
  color: white;
}
a:hover {
  color: gold;
}
